.grid-3 {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.grid-4 {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.grid-5 {
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.grid-7{
    grid-template-columns: repeat(auto-fit, minmax(12%, 1fr));
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.grid-8 {
    grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.grid-3-4{
    display: grid;
    grid-template-columns: 1fr .4fr;
}

.dashboard-content {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    flex: 1;
    padding: 0 20px;
}

.activeDomain {
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
}

.user {
    padding: 20px;
    background-color: #fff;
    color: #3d3d3d;
    border-radius: 10px;
}

.profile-user {
    font-size: 30px;
}

.profilePicture-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: #464646;
    padding: 30px;
    border-radius: 10px;
}

.profilePicture {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    object-fit: cover;
}

.warning{
    margin-right: 10px;
    font-weight: bold;
}

.warning.critical{
    color: red;
}

.warning.high{
    color: orange;
}

.warning.high::before{
    content: "!!";
    margin-right: 5px;
    font-weight: bold;
}

.warning.critical::before {
    content: "!!!";
    margin-right: 5px;
    font-weight: bold;
}

.warning.medium{
    color: yellow;
}
.warning.low{
    color: green;
}

.grid-7 .span-2 {
    grid-column: span 2;
    min-width: 0;
}

@media screen and (max-width: 900px) {
    .dashboard-content {
        padding: 0 20px;
    }

    .grid-3-4 {
        grid-template-columns: 1fr;
    }

    .topWidget{
        display: flex;
        overflow-x: auto;
        justify-content: flex-start;
    }

    .topWidget > * {
        flex: 0 0 auto;
    }

}