.platform{
    display: grid;
    place-content: center;
    place-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    grid-template-columns: 1fr;
    z-index: 20000;
    background-color: rgb(36, 36, 36);
}

.platform-select-logo{
    filter: invert(1);
    width: 35%;
    padding: 45px;
    margin-top: -105px;
}