.widget{
    box-shadow: 0 0 3px 0 rgba(0,0,0,.22), inset -1px 1px 1px rgba(255, 255, 255, 0.5);
    background: radial-gradient(circle at top, rgb(101, 101, 101) -10%, rgb(48, 48, 48));
    border-radius: 10px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    min-height: 200px;
    height: 100%;
    margin: 20px 0px;
    color: rgb(197, 197, 197);
    text-align: center;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.no-padding{
    padding: 0px;
}

.span-2{
    grid-column: span 2;
}

.key-highlight-widget{
    border: 2px solid #cdcdcd;
    border-radius: 10px;
    padding: 10px;
    background-color: #636363;
    position: relative;
}

.key-highlight-widget .small-widget-type{
    color: #a8a8a8;
}

.key-highlight-widget .small-widget-number{
    font-size: 28px;
    font-weight: bold;
    color: #cbcbcb;
    margin-bottom: 0;
    margin-top: 10px;
}

.has-explainer{
    text-decoration: dotted underline;
    cursor: help;
}

.explainer-tooltip{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    font-size: 14px;
    text-align: left;
    z-index: 10;
}

.explainer-tooltip-icon{
    font-weight: bold;
    margin-right: 5px;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display: inline-block;
    text-align: center;
    line-height: 12px;
}

.small-widget-percentage{
    font-size: 14px;
    font-weight: normal;
    color: #a8a8a8;
}