.widget{
    box-shadow: 0 0 3px 0 rgba(0,0,0,.22), inset -1px 1px 1px rgba(255, 255, 255, 0.5);
    background: radial-gradient(circle at top, rgb(101, 101, 101) -10%, rgb(48, 48, 48));
    border-radius: 10px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    min-height: 200px;
    height: 100%;
    margin: 20px 0px;
    color: rgb(197, 197, 197);
    text-align: center;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    text-decoration: none;
}

.no-padding{
    padding: 0px;
}

.span-2{
    grid-column: span 2;
}

.key-highlight-widget{
    border: 2px solid #cdcdcd;
    border-radius: 10px;
    padding: 10px;
    background-color: #636363;
}

.key-highlight-widget .small-widget-type{
    color: #a8a8a8;
}

.key-highlight-widget .small-widget-number{
    font-size: 28px;
    font-weight: bold;
    color: #cbcbcb;
    margin-bottom: 0;
    margin-top: 10px;
}