.map-selected {
    fill: #E3DA37;
}
  
.map-unselected {
    fill: #699EAA;
}

.map-selected:hover, .map-unselected:hover {
    cursor: pointer;
}

.countryStats{
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    text-align: center;
}

.country{
    padding: 20px 0px;
    background-color: #343434;
    border-radius: 10px;
}

.svgMap-wrapper {
    width: 100%;
    height: 100%;
}

.svgMap-map-wrapper {
    width: 100%;
    min-height: 355px;
    height: 100%;
    background-color: transparent;
}

.svgMap-map-container{
    height: 100%;
}

@media screen and (max-width: 768px) {
    .svgMap-map-wrapper {
        width: 100%;
        height: 100%;
    }
    
}