.btn{
    background-color: rgb(192, 159, 83);
    border: none;
    color: white;
    padding: 17px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.btn:disabled {
    background-color: lightgrey;
    cursor: not-allowed;
}

.compare-domain-list{
    display: flex;
    gap: 10px;
}

.compare-domain-list select{
    padding: 13px;
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
}

.compare-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.compare-table td{
    padding: 15px;
    border: 1px solid #ddd;
}

.negative{
    background-color: #ad2a2a;
}

.positive {
    background-color: #2a7a2a;
}

.stat-value{
    position: relative;
}

.stat-value::after{
    content: '';
    position: absolute;
    top: 0;
    right: -30px;
}

.stat-value.high::after{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #2a7a2a;
}

.stat-value.low::after{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ad2a2a;
}

@media screen and (max-width: 768px) {
    .compare-domain-list {
        flex-direction: column;
    }

    .compare-domain-list select {
        width: 100%;
    }
}