.dashboard-header {
    width: 100%;
    max-height: 66px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px 0px 0px;
    background-color: rgb(63, 63, 63);
    color: rgb(197, 197, 197);
    border-bottom: 1px solid rgb(95, 95, 95);
}

.dashboard-profile {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 19px;
    padding: 10px;
}

.flex {
    display: flex;
    align-items: center;
}

.profileImage {
    width: 50px;
}

.clock {
    color: rgb(197, 197, 197);
    margin: 0;
}

.dashboard-name {
    font-size: 14px;
    cursor: pointer;
    margin: 0;
}

.dashboard-header>.dashboard-profile .content-img {
    margin: 0;
    width: 50px;
    height: 50px;
    border-width: 2.5px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: auto;
}

.dashboard-logo {
    padding: 10px 20px;
    padding-right: 0;
    height: 77px;
    text-align: left;
    object-fit: contain;
    object-position: 0;
    position: relative;
}

.sidebar {
    transition: width .5s ease-in-out;
    width: 65px;
}

.collapsed {
    width: 65px;
    height: calc(100vh - 88px);

    transition: width .25s ease-in-out;
    display: flex;
    flex-direction: column;
    position: fixed;

    min-height: calc(100vh - 66px);
    border-right: 1px solid rgb(95, 95, 95);
    background-color: rgb(63, 63, 63);
}

.divider {
    padding: 0 0 0 20px;
}

.platform-view {
    padding: 0 20px;
    display: inline-block;
    border-right: 1px solid;
    padding-right: 10px;
    margin-right: 10px;
}

.collapsed .hiddenCollapsed {
    opacity: 0;
    width: 0;
    visibility: hidden;
    transition: all .25s ease-in-out;
}

.sidebar:hover,
.sidebar:hover>.collapsed,
.sidebar.expand,
.collapsed.expand {
    min-width: 170px;
    width: auto;
}

.navOverlay {
    display: flex;
    z-index: 100;
    position: relative;
}

.navOverlay.expand {
    display: flex;
}

.collapsed nav {
    width: 100%;
}

.collapsed .navItems {
    color: #fff;
    display: flex;
    width: 100%;
    padding: 25px 15px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    transition: width .15s ease-in-out;
    text-decoration: none;
}

.navItems.--active,
.navItems:hover {
    background-color: rgb(95, 95, 95);
    color: rgb(241, 241, 241);
    transition: width .15s ease-in-out;
}

.collapsed:hover .navItems,
.collapsed.expand a {
    width: 100%;
}

.collapsed:hover nav,
.collapsed.expand nav {
    width: 150px;
}

.collapsed.expand .hiddenCollapsed,
.collapsed:hover .hiddenCollapsed {
    opacity: 1;
    width: auto;
    visibility: visible;
}

.dashboard-icons {
    width: 25px;
    height: 25px;
    /* padding: 15px; */
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapsed .dashboard-icons {
    margin-right: 0px;
}

.collapsed.expand .dashboard-icons,
.collapsed:hover .dashboard-icons {
    margin-right: 10px;
}

.dashboard::after {
    content: "";
    background: url("icons/dashboard.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    font-style: normal;
    font-size: 20px;

    display: block;
    font-style: normal;
    width: 20px;
    height: 20px;
}

.reports::after {
    content: "";
    background: url("icons/reports.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    display: block;
    font-style: normal;
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.compare::after {
    content: "";
    background: url("icons/reports.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    display: block;
    font-style: normal;
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.home::after {
    content: "";
    background: url("icons/home.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    display: block;
    font-style: normal;
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.user-consents::after {
    content: "";
    background: url("icons/user-consents.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    display: block;
    font-style: normal;
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.domains::after {
    content: "";
    background: url("icons/domain.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    display: block;
    font-style: normal;
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.settings::after {
    content: "";
    background: url("icons/settings.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    display: block;
    font-style: normal;
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.cookies {
    content: "";
    background: url("icons/cookies.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    display: block;
    font-style: normal;
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.logout::after {
    content: "";
    background: url("icons/Logout.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    display: block;
    font-style: normal;
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.expandBtn {
    float: right;
    padding: 10px;
    margin: 10px 0px;
    border: none;
    background: transparent;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
}

.expandBtn::after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    float: right;
    margin-left: auto;
    background: url("icons/expand.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
}

.navItems--bottom {
    margin-top: auto;
}

.navLogout {
    margin-top: auto;
    background: transparent;
    border: none;
    width: 100%;
    color: #fff;
    padding: 30px 15px;
    font-size: 15px;
    text-align: center;
    border-top: 1px solid #636363;
    cursor: pointer;
    display: flex;
    align-items: center;

}

.dashboard-organisationSelector {
    border: none;
    padding: 0px 17px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    appearance: none;
    -webkit-appearance: none;
    position: relative;
}

.dashboard-organisationSelector:focus,
.dashboard-organisationSelector:focus-within,
.dashboard-organisationSelector:focus-visible {
    outline: none;
}

.dashboard-organisationContainer {
    position: relative;
}

.dashboard-profile__nameContainer {
    width: 250px;
    margin-right: 20px;
    text-align: right;
}

.arrowRight {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 10px;

}

.company_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company_container .selectorContianer {
    margin-right: 20px;
}

.logo_container {
    display: flex;
    align-items: center
}

.logo-selector-container {
    display: flex;
    align-items: center;
}

.menu {
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 900px) {
    .dashboard-header {
        width: 100%;
        max-height: max-content;
        padding-right: 0;
    }

    .main-grid {
        padding-top: 131px;
    }

    .menu {
        display: block;
        padding: 10px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: #fff;
    }

    .menu-bar{
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px auto;
        transition: all .3s ease-in-out;
        border-radius: 5px;
    }

    .logo-selector-container {
        display: block;
    }

        .company_container .selectorContianer{
        margin-right: 0px;
        }

    .company_container {
        flex-direction: row;
        align-items: flex-start;
        padding-bottom: 10px;
        padding-right: 0;
        gap: 10px;
    }

    .grid-3 {
        grid-template-columns: 1fr;
    }

    .grid-container {
        display: block;
    }

    .dashboard-profile {
        align-items: flex-start;
    }

    .dashboard-profile__nameContainer {
        width: auto;
    }

    .navOverlay {
        display: none;
    }

    .dashboard-header>.dashboard-profile .content-img {
        margin: 0 5px 5px auto;
    }

    .platform-view {
        border: none;
        padding: 0;
        margin: 0;
    }

    .infoHeader {
        position: relative;
    }

    .infoHeader.sticky {
        top: 130px;
    }

    .infoHeader .dashboard-content {
        grid-template-columns: .5fr 1fr !important;
    }

    .infoHeader .crawl-cta {
        width: max-content;
    }
}