.liveView-content-data {
    margin: 0 20px;
    padding: 10px 0;
}

.liveView-content-flex {
    display: flex;
    justify-content: space-between;
}

.liveView-content-data-1-text {
    margin: 3px 0;
}

.liveView-content-country {
    margin-bottom: 5px;
}

.liveView-content-data-2 {
    width: 100%;
}

.liveView-content-data-1-number {
    font-size: 30px;
    font-weight: 200;
    margin-top: 0;
}

.liveView-content-data-1-domain-consent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.liveView-content-data-1-domain-consent{
    margin-block: 10px;
    border-top: 1px solid #ccc;
}