.footer{
    padding: 30px 60px !important;
    font-size: 16px;
    text-align: center;
    border-top: 1px solid rgb(95, 95, 95);
}

.links{
    color: #c09f53;
    text-decoration: none;
}

.footer-logo{
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin: 0 auto;
}