.main-header {
    padding: 0;
    width: 100%;
}

.crawlerPage-logo {
    width: 150px;
    padding: 15px;
}

.main-content {
    width: 1200px;
    margin: auto;
}

.main-content-section-button {
    margin-top: 20px;
    color: #f8f9fa;
    background-color: #c09f53;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

@media screen and (max-width: 900px) {
    .main-content {
        width: 100%;
    }
    .crawlerPage-logo {
        width: 100px;
    }

    .main-content-section-description{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .main-content-section-title{
        font-size: 20px;
        line-height: 30px;
    }

    .main-content-section{
        width: 100%;
        padding: 25px;
    }

    .feature-list{
        grid-template-columns: 1fr;
        width: 100%;
        padding: 15px;
    }
}