.successWindow{
    position: fixed;
    right: 0;
    top: 100px;
    background: rgb(58, 58, 58);
    width: auto;
    border-top: 2px solid green;
    transition: right .5s ease-in-out;
}

.successWindow-content{
    padding: 15px;
    color: #fff;
}